<pre style="background-image: url(https://images.pexels.com/photos/774042/pexels-photo-774042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">                        HOTEL MANAGEMENT SYSTEM</pre>

<h1 style="background-color: grey;" > Hotels:</h1>
<div style="background-image: url(https://images.pexels.com/photos/775219/pexels-photo-775219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
    <pre style="color: white;">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Lemon-tree hotels</h2>
                <img src="https://images.pexels.com/photos/1458457/pexels-photo-1458457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="lemon-tree hotels" style="height: 400 ;" width="400">
                <pre style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;">
                Description: "royal hotels",
                Rating: ****,
                City: PUNE,
                "Wifi": "Yes",
                "Gym": "Yes",
                "Pool": "Yes"
                </pre>

                <h2 style="font-family: Arial, Helvetica, sans-serif;">Taj hotels</h2>
                <img src="https://images.pexels.com/photos/2986231/pexels-photo-2986231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="taj hotels" style="height: 300 ;" width="300">
                Description: "Taj hotels",
                Rating: *****,
                City: MUMBAI,
                "Wifi": "Yes",
                "Gym": "Yes",
                "Pool": "Yes"
            </pre>

    

<!-- <form>
    <input type="text", placeholder="enter hotel name">
</form> -->

</div>

